* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #404258;
}
#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 99.5vh;
    width: 99.9%;
}
h1 {
    color: #1b1616;
    align-items: center;
    font-size: 100px;
    bottom: 300px;
    position: relative;
    z-index: 2;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9F73AB;
    position: absolute;
    bottom: 0;
    height: 900px;
    width: 85vw;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}
.week-days {
    border: 1px solid;
    margin: 20px;
    padding: 32px 23px;
    text-align: center;
    width: 270px;
    border-radius: 6px;
    border: 0;
    border-bottom: 2px solid #f7dd43;
}
.week-days:nth-child(1) {
    background-color: rgb(134, 190, 146);
}
.week-days ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.week-days h4 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--card--title--border--color);
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: #404258;
}

@media (min-width: 700px) {
    .week-days {
        max-width: 900px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}