* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #404258;
    font-family: Arial, Helvetica, sans-serif;
}
.week-days.blue {
    --card--bg--color: #338af3;
    --card--title--border--color: #043167;
    --card--border-bottom--color: #043167;
}
#app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
h1 {
    color: #a4a3b1;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 45px;
    font-variant: small-caps;
    font-family: 'Sono', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #b1b0a3;
    min-height: auto;
    width: 85vw;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}
.week-days {
    margin: 40px;
    padding: 32px 23px;
    text-align: center;
    height: 270px;
    width: 200px;
    border-radius: 6px;
    border: 0;
    margin-top: 70px;
}
#monday {
    background-color: #338af3;
    border-bottom: 3px solid #043167;
}
#monday h4 {
    border: 1px solid #043167;
}
#tuesday {
    background-color: #b5a341;
    border-bottom: 3px solid #5b542a;
}
#tuesday h4 {
    border: 1px solid #5b542a;
}
#wednesday {
    background-color: #07934d;
    border-bottom: 3px solid #335b2a;
}
#wednesday h4 {
    border: 1px solid #335b2a;
}
#thursday {
    background-color: #a23e2c;
    border-bottom: 3px solid #61251a;
}
#thursday h4 {
    border: 1px solid #61251a;
}
#friday {
    background-color: #2ca294;
    border-bottom: 3px solid #185851;
}
#friday h4 {
    border: 1px solid #185851;
}
#saturday {
    background-color: #c653bc;
    border-bottom: 3px solid #762f70;
}
#saturday h4 {
    border: 1px solid #762f70;
}
#sunday {
    background-color: #d7792c;
    border-bottom: 3px solid #8a4d1b;
}
#sunday h4 {
    border: 1px solid #8a4d1b;
}
.week-days ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.week-days h4 {
    padding: 8px 16px;
    border: 1px solid #f7dd43;
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: white;
}
span {
    font-size: 25px;
    cursor: pointer;
}
footer {
    background-color: #b1b0a3;
    width: 85vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p:nth-child(1) {
    font-size: 20px;
    margin-left: 2rem;
    font-family: 'Sono', sans-serif;
}
footer p:nth-child(2) {
    margin-right: 20px;
}